@use '../../assets/styles/index' as *;

.offer {
  display: flex;
  flex-direction: column;
  background-color: $neutral_900;
  border-radius: 8px;
  border: 1px solid $border_1;
  margin-top: 30px;
  position: relative;

  &.light {
    border: 1px solid $border_1_light;
    background-color: $neutral_0;
  }

  .countBackground { 
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;

    &.light {
      opacity: 0.03;
    }
  }

  .titleContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    margin-top: 60px;
    margin-bottom: 18px;

    .dotTitle {
      display: flex;
      align-items: center;
      column-gap: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      background: $linear_4_dark;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.light {
        background: $linear_4_light;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .title {
      color: $neutral_0;
      text-align: center;
      font-size: 35px;
      font-weight: 500;
      line-height: 120%;
      width: 40%;

      &.light {
        color: $neutral_0_light;
      }

      .gray {
        color: $neutral_300;

        &.light {
          color: $neutral_300_light;
        }
      }
    }
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    column-gap: 30px;
    margin-top: 30px;
    margin-left: 64px;
    margin-right: 64px;

    .card {
      width: 33%;
      height: 298px;
      border-radius: 4px;
      border: 1px solid $border_1;
      background: $neutral_900;
      padding-left: 42px;
      padding-right: 42px;
      z-index: 5;

      &.light {
        border: 1px solid $border_1_light;
        background-color: $neutral_0;
      }

      .imgCard {
        width: 24px;
        height: 24px;
        margin-top: 93px;
      }

      .title {
        color: $neutral_0;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        margin-top: 16px;

        &.light {
          color: $neutral_0_light;
        }
      }

      .subtitle {
        color: $neutral_300;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        margin-top: 12px;

        span {
          color: $secondary_2;
        }

        &.light {
          color: $neutral_300_light;
        }
      }
    }
  }

  .bottomText {
    color: $neutral_300;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 66px;
    margin-bottom: 74px;

    &.light {
      color: $neutral_300_light;
    }

    .white {
      color: $neutral_0;

      &.light {
        color: $neutral_0_light;
      }
    }
  }

  .border {
    position: absolute;
    right: -108px;
    bottom: 192px;
    width: 216px;
    height: 1px;
    transform: rotate(90deg);
    background: linear-gradient(90deg, rgba(168, 255, 83, 0.00) 0%, #A8FF53 52.5%, rgba(168, 255, 83, 0.00) 100%);
  }
}